@font-face {
   font-family: 'Uni-Sans-Heavy';
   font-display: swap;
   src: url('file:///C:/Users/jedre/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-11-28_170847/fonts/Uni-Sans-Heavy/font.ttf');
}
